In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/ue-lte-network-traffic-stats.csv")

In [4]:
df.head()

,UE1: web-rtc,UE1: sipp,UE1: web-server,UE2: web-rtc,UE2: sipp,UE2: web-server,UE3: web-rtc,UE3: sipp,UE3: web-server,UE1-Jitter,UE2-Jitter,UE3-Jitter,UE1-CQI,UE2-CQI,UE3-CQI
0,16360.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.026981,0.0,0.0,15.0,10.0,12.0
1,1905.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005916,0.0,0.0,13.0,12.0,15.0
2,20021.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.015945,0.0,0.0,12.0,15.0,15.0
3,33617.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.030872,0.0,0.0,11.0,14.0,15.0
4,50102.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.035999,0.0,0.0,15.0,14.0,14.0

In [7]:
day_sample_size = 3600
target_columns = ["UE1-CQI", "UE2-CQI", "UE3-CQI"]

In [10]:
for col in target_columns:
    for i in range(13):
        df[col][i*day_sample_size:(i+1)*day_sample_size].reset_index().to_csv(f"../data/{col}/{col}_{i+1}.csv")